/* Base Application Styles */

/* rgba(0,0,0,0.83) */
$black: #212121;

/* rgba(0,0,0,0.54) */
$light-grey: #757575;

$accent-color: #00BCD4;

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: $black;
    line-height: 24px;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#app > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    background: $accent-color;
    color: white;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-family: Roboto-Medium, sans-serif;
    font-size: 20px;
    line-height: 24px;

    * {
        flex: 1;
        white-space: nowrap;
    }

    img {
        height: 48px;
        flex: 0 0 48px;
    }

    &::after {
        flex: 1;
        content: "";
    }

}

footer {
    min-height: 70px;
    flex: 0 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    /* Override MDL accent */
    a.footer-link {
        color: $accent-color;
        font-weight: normal;
    }

    .footer-separator {
        padding: 0 10px;
    }

    #location {
        font-family: Roboto-Medium, sans-serif;
        color: $black;
        line-height: 24px;

        select {
            margin-left: 5px;
            /* Doesn't really work */
            font-size: 16px;
            line-height: 24px;
            height: 24px;
        }
    }
}

h1 {
    font-weight: regular;
    text-align: center;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 20px;
    color: $black;
    line-height: 24px;
}

blockquote {
    background: #EEEEEE;
    border-radius: 4px;

    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 24px;
    margin: 0;
    padding: 24px 24px 8px;

    /* Override all the MDL defaults */
    font-weight: normal;
    font-style: normal;
    letter-spacing: inherit;
    &:before,
    &:after {
        content: none;
    }
}

/* Override MDL defaults. For some reason, Cyan as a primary colour
   comes with black text on buttons */
.mdl-button {
    height: 40px;
    line-height: 40px;
}
.mdl-button--colored {
    color: white !important;

    &[disabled] {
        color: $light-grey !important;
    }
}

.survey-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    > section {
        flex: 1 1;
    }
}

.instructions {
    h2 {
        font-family: Roboto-Regular, sans-serif;
        font-size: 13px;
        color: $light-grey;
        line-height: 12px;
        margin: 36px 0 18px;
    }
}

section.question {
    height: 100px;

    .legend {
        display: block;
        font-family: Roboto-Regular, sans-serif;
        font-size: 13px;
        color: $light-grey;
        line-height: 12px;
        padding-bottom: 14px;
    }

    div {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        align-content: stretch;

        label {
            flex: 1 0 auto;

            /* override mdl settings */
            overflow: visible;
            min-height: 36px;
            height: 40px;
            text-transform: initial;

            border-radius: 0;

            &:first-child {
                border-radius: 2px 0 0 2px;
            }

            &:last-child {
                border-radius: 0 2px 2px 0;
            }

            span { /* Hack: spans are added by React */
                font-family: Roboto-Medium, sans-serif;
                font-size: 14px;
                color: $light-grey;
                line-height: 16px;
            }
            &.mdl-button--colored span {
                color: inherit;
            }
        }

        input {
            display: none;
        }
    }

}

.poor-snack {
    margin: 20px auto;
    background: #323232;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 20px 25px;
    width: 360px;

}

#intro, #basic-info, #reminder, footer {
    width: 480px;
    margin: 0 auto;
}

#audit, #feedback {
    width: 721px;
    margin: 0 auto;
}

#intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    #start-survey {
        align-self: center;

        margin: 20px 0;
    }
}

#basic-info {

    fieldset {
        margin-top: 40px;

        legend {
            font-family: Roboto-Medium, sans-serif;
            font-size: 16px;
            color: $black;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }

    .simple-input {
        font-family: Roboto-Regular, sans-serif;
        font-size: 13px;
        color: $light-grey;
        line-height: 12px;
        display: block;
        height: 100px;

        input {
            box-sizing: border-box;
            display: block;

            width: 100%;
            line-height: 34px;
            margin-top: 14px;
            font-family: Roboto-Regular, sans-serif;
            font-size: 16px;
            color: $black;
            padding-left: 10px;

        }
    }

}

#audit {
    .question {
        height: 160px;

        .legend {
            font-family: Roboto-Medium, sans-serif;
            font-size: 20px;
            color: $black;
            line-height: 24px;
        }

        &.disabled {
            opacity: 0.1;
        }
    }
}

#feedback {
    #note {
        font-family: Roboto-Regular, sans-serif;
        font-size: 13px;
        color: $light-grey;
        margin: 18px 0 48px;
    }

    #section-buttons {

        button {
            margin-right: 20px;
        }
    }

    #feedback-charts {
        display: flex;
        justify-content: space-between;

        figure {
            flex: 1;
            margin: 0;

            figcaption {
                font-weight: bold;
            }
        }
    }
}
