@media all and (max-width: 2068px) {
    #intro,  #patient-bio, #reminder, #feedback, #audit, #leaderboard, footer {
        width: 80%;
    }
}

@media all and (max-width: 1440px) {
    #intro,  #patient-bio, #reminder, #feedback, #audit, #leaderboard, footer {
        width: 80%;
    }
}

@media all and (max-width: 799px) {
    #intro,  #patient-bio, #reminder, #feedback, #audit, #leaderboard, footer {
        width: 80%;
    }

    // Switch question answers from 1 row to 1 column.
    section.question {
        div {
            label {
               flex-basis: 51%;
            }
        }
    }

    #audit #drink-reference {
        #tall {
            display: block;
        }

        #wide {
            display: none;
        }

    }
}

@media all and (max-width: 320px) {
    #intro,  #patient-bio, #reminder, #feedback, #audit, #leaderboard, footer {
        width:99%;
    }

    #footer-links {
        font-family: Roboto, sans-serif;
        color: #212121;
        line-height: 23px;
        padding-top: 10%;
    }

    #section-buttons {
        height: 68px;
    }
}
