# GOPATH is required for
# 1. config APP_ROOT environment variable
# 2. running cron tasks (for example: scripts/send_invitation_mail.sh)
export GOPATH=<YOUR_GOPATH>

# APP_ROOT is required for:
# 1. config config.Root (see: config.go)
# 2. installing crontab (see: scripts/install_crontab.sh)
# 3. running cron tasks (for example: scripts/send_invitation_mail.sh)
export APP_ROOT=$GOPATH/src/github.com/HelloSundayMorning/hsm-acem-survey-app

# Database configuration
DB_NAME="acem_dev"
DB_USER="acem"
DB_PW="acemdbpw"
export ACEM_DB_PARAMS="user=$DB_USER password=$DB_PW dbname=$DB_NAME sslmode=disable"
# Open gorm log mode
# export ACEM_DB_MODE="debug"

# Session configuration
export ACEM_SESSION_SECRET="a session secret"

# InfluxDB configuration
# INFLUX_USER="influx user name"
# INFLUX_PW="influx account password"
# export INFLUXDB_URL="https://$INFLUX_USER:$INFLUX_PW@influxdb.com/"

# Airbrake configuration
# export AIRBRAKE_PROJECT_ID="your-project-id"
# export AIRBRAKE_TOKEN="your-token"
# export AIRBRAKE_ENV="your-app-env"

# Mandrill configuration
#
# SANDBOX_SUCCESS is a test key that provided by mandrill library. Refer: https://gowalker.org/github.com/keighl/mandrill#user-content-integration-testing-keys
export MANDRILL_APIKEY="SANDBOX_SUCCESS"
