BASH_ENV=$HOME/.envrc
MAILTO="hsm-dev@theplant.jp"

# Send invitation mail every morning at 00:05 AM UTC (will be at ~11am in daylight savings, and ~10am in winter.)
0 9 * * 0 /bin/bash -l -c '$APP_ROOT/scripts/send_invitation_mail.sh'
